<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        <%= pageTitle %> Data Breach
    </title>
    <meta name="description" content="<%= metaDescription %>">

    <%- include('/head.ejs') %>

</head>

<body>
    <%- include("/header.ejs") %>
        <main class="homeMain">
            <section class="hero">
                <div>
                    <ul class="breadcrumb">
                        <li><a href="/">Back to Home</a></li>
                    </ul>
                    <div class="title header">
                        <h1>
                            <%= pageHeading %> Data Breach
                        </h1>
                    </div>
                </div>
            </section>
            <section class="page-content" id="content">
                <div class="page-content-inner">
                    <div>
                        <h2>Security Incident Summary</h2>

                        <% let severityClass='' ; let severityNum=parseInt(Severity.split('/')[0]); if (severityNum>= 7)
                            {
                            severityClass = 'high';
                            } else if (severityNum >= 4) {
                            severityClass = 'medium';
                            } else {
                            severityClass = 'low';
                            }
                            %>
                            <% const firstValue=Severity.split('/')[0].trim(); %>
                                <div class="details-wrap">
                                    <div class="severity-wrap">
                                        <div class="severity-inner">Severity Score: <span
                                                class="severity <%= severityClass %>">
                                                <%= Severity %>
                                            </span></div>
                                        <progress id="progress-bar" class="progress-bar <%= severityClass %>"
                                            value="<%= firstValue %>" max="10"></progress>
                                    </div>

                                    <div class="details">
                                        <p class="card shadow p-32 border-radius"><strong>Organization</strong>
                                            <span>
                                                <%= Organization || 'N/A' %>
                                            </span>
                                        </p>
                                        <p class="card shadow p-32 border-radius"><strong>Industry</strong>
                                            <span>
                                                <%= Industry || 'N/A' %>
                                            </span>
                                        </p>
                                        <p class="card shadow p-32 border-radius"><strong>Threat Actor</strong>
                                            <span>
                                                <%= ThreatActor || 'N/A' %>
                                            </span>
                                        </p>
                                        <p class="card shadow p-32 border-radius"><strong>Date Reported</strong>
                                            <%= DateReported || 'N/A' %>
                                        </p>

                                        <p class="card shadow p-32 border-radius"><strong>Country</strong>
                                            <span>
                                                <%= Country || 'N/A' %>
                                            </span>
                                        </p>
                                    </div>
                                </div>
                    </div>
                    <div class="content-blocks">
                        <% pageContentBlocks.forEach(function(block) { %>
                            <div class="content-block">
                                <%- block %>
                            </div>
                            <% }); %>
                    </div>


                </div>
            </section>
        </main>
        <%- include("/footer.ejs") %>
</body>

</html>